#editor{
    box-sizing: border-box;
    margin: 0;
    padding: 10px 10px;
    border-radius: 5px;
    gap: 10px;
    display: flex;
    position: relative;
    font-family: monospace;
    line-height: 21px;
    background: #232323;
    overflow: hidden;
    z-index: 1;
}

#editor-input{
    margin: 0;
    line-height: 21px;
    padding: 0;
    padding-right: 30px;
    margin-left: 10px;
    border: 0;
    background: #232323;
    color: #6bbdf8;
    height: 100%;
    width: 90%;
    outline: none;
    resize: none;
    white-space: pre;
    overflow-y: scroll;
}

#line-numbers{
    text-align: right;
    display: flex;
    flex-direction: column;
    color:#838383;
    vertical-align: bottom;
    width: 30px;
    overflow-y: hidden;
    scrollbar-width: 0px;
}

.line-number{
    height: 21px;
}
.selected-line-number{
    color:white;
    height: 21px;
    text-align: center;
}

#parse-error{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
}