@use './variables.scss';
#renderer {
    background-color: #232323;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    height: auto
}

#relationship-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    padding:0;
    margin:0;
    pointer-events: none;
    z-index: 2;
}

#node-container{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    pointer-events: none;
}

#node-ruler{
    position: absolute;
    text-align: center;
    color: black;

    border-radius: 15px;
    background-color: white;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

.divider-ruler{
    width: 90%;
    height: 2px;
    background-color: black;
}

#edge-container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    pointer-events: none;
}
#text-calculator{
    font-family: var(--fontFamily);
}